<!--
This file is purely for showing the relevant page

If we're authenticated, we want to show the main/dashboard

If we're not authenticated, we want to show the login page to be authenticated

-->
<%if(req.isAuthenticated()) {%>
  <% include main.ejs %>
<%} else {%>
  <% include login.ejs %>
<%}%>
