<form class="login-form form--single-column" ng-controller="LoginCtrl" ng-submit="login()">
  <input
    type="text"
    name="username"
    placeholder="Username"
    autofocus
    class="full"
    ng-model="user.username"
    ng-disabled="isSaving"
    focus-on="username">
  <input
    type="password"
    name="password"
    placeholder="Password"
    class="full"
    ng-model="user.password"
    ng-disabled="isSaving">
  <button class="full">Login</button>
  <div class="form__response">{{ response }}</div>
</form>
