<div ng-controller="NavCtrl">
  <nav>
    <button class="fa fa-cog" ng-click="toggleSettings(true)"></button>
  </nav>
  <form class="settings-form modal" ng-if="settingsShown" ng-submit="saveSettings()">
    <input
      type="text"
      name="path"
      placeholder="Path"
      autofocus
      focus-on="path"
      ng-model="settings.path"
      ng-disabled="isSaving">
    <button ng-disabled="isSaving">
      <span>Save</span>
    </button>
    <div class="form__response">{{ response }}</div>
  </form>
  <div class="overlay" ng-if="settingsShown" ng-click="toggleSettings(false)"></div>
  <form class="download-form" ng-controller="DownloadCtrl" ng-submit="download()">
    <input
      type="text"
      name="link"
      placeholder="Link"
      autofocus
      focus-on="link"
      ng-model="location"
      ng-disabled="isSaving">
    <button ng-disabled="isSaving">
      <span class="fa fa-download"></span>
    </button>
    <div class="form__response">{{ response }}</div>
  </form>
</div>
