body {
  background: #FEFEFE url("../images/bg.png");
}

// Global Styles
* {
  font-size: 13px;
  box-sizing: border-box;
}

// All Icons are by default 14px wide
.fa {
  min-width: 14px;
}

// Helper classes
.full {
  width: 100%;
}

.float-left {
  float: left;
}

// Nav elements
nav {
  text-align: right;
}

nav > .fa {
  font-size: 24px;
}

// Overlays
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

// Modals
.modal {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

// Form elements
input, button{
  padding: 10px;
}

input {
  border: 1px solid #EEEEEE;
}

button {
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: saturate(@base, 5%);
  color: white;
}

.form--single-column > * {
  display: block;
}

.form--single-column > *:not(:first-child) {
  margin-top: 4px;
}
