form.download-form,
form.settings-form {
  width: 80%;
  max-width: 600px;
  margin: 25% auto 0;
  text-align: center;
}

form.download-form > input {
  width: 80%;
}

form.download-form > button,
form.settings-form > button {
  padding-left: 15px;
  padding-right: 15px;
}

form.settings-form > input {
  width: 70%;
}

form .form__response {
  margin-top: 10px;
  text-align:center;
}
